

body {
    background-color:antiquewhite;
    color:midnightblue;
    font-size: 15px;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 65px;
}


.image{
    display: block;
    text-align: center;
}

